label + .radio-wrapper{
  margin-top: 1rem;
}

.radio-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr)); /*O que ta acontecendo aqui é que estou falando para ele preencher todo o espaço obedecendo o tamanho mínimo de 7.5 rem = 120px (Menos do que isso eu nao quero)*/
  gap: 1rem;
}

.radio-inner{
  border: 1px solid var(--stroke-default);
  border-radius: .5rem;

  display: grid;
  justify-items: center;
  gap: .5rem;

  padding: 2rem .5rem .5rem;

  position: relative;
  & input,
  & input:focus,
  & input:hover{
    all: unset;
    position: absolute;
    inset: 0;
  }
  .radio-image{
    background-image: url(../../asstes/icons/radio-defaul.svg);

    width: 1.5rem;
    height: 1.5rem;

    position: absolute; /*Aqui estou definindo a posição da bolinha normal no lado esquerdo superior esquerdo*/
    top: .5rem;
    left: .5rem;
  }

  &:hover,
  &:focus-within{
    border: 1px solid var(--stroke-hightlight);
    & .radio-image{
      background-image: url(../../asstes/icons/radio-hover.svg);
    }
  }

   &:has(:checked){/* Quando ele estiver selecionado*/
    border: 2px solid var(--stroke-hightlight);
    & .radio-image{
      background-image: url(../../asstes/icons/radio-check.svg);
    }
  } 
}